---
import BaseLayout from "../layouts/BaseLayout.astro";
import { Image } from "astro:assets";
import github from "assets/socials/github.svg";
import linkedin from "assets/socials/linkedin.svg";
import leetcode from "assets/socials/leetcode.svg";
import me from "assets/me/me.webp";

const SOCIALS = [
	{
		text: "Github",
		link: "https://github.com/JimitSoni18/",
		image: github,
	},
	{
		text: "LinkedIn",
		link: "https://linkedin.com/in/jimitsoni18/",
		image: linkedin,
	},
	{
		text: "Leetcode",
		link: "https://leetcode.com/jimitsoni18",
		image: leetcode,
	},
];
---

<BaseLayout title="Jimit's Portfolio" header="Checkout my portfolio!">
	<section class="cosmic-container mx-auto">
		<div class="image-container">
			<Image width="180" src={me} alt="It's me!!" class="profile-image" />
			<h1 class="mb-3">Jimit Dholakia</h1>
			<div class="socials">
				{
					SOCIALS.map(({ text, link, image }) => (
						<a target="_blank" href={link} class="social-link">
							<Image class="social-image" width="28" src={image} alt={text} />
						</a>
					))
				}
			</div>
		</div>
	</section>
</BaseLayout>

<style lang="scss">
	img {
		margin: 0 auto;
	}
	h1 {
		font-weight: 900;
		text-align: center;
	}

	.image-container {
		margin: 0 auto;
	}

	.socials {
		display: flex;
		margin: auto;
		width: max-content;
		background-color: white;
		border-radius: 2rem;
		padding: 0.2rem 0.25rem;
	}
	.social-link {
		border-radius: 2rem;
		padding: 0.5rem 1.5rem;
		transition: all 0.2s ease;
		&:hover {
			box-shadow: 0px 2px 12px var(--button-hover-shadow);
			background-color: var(--button-hover);
			transform: translateY(-2px);
		}
		&:active {
			background-color: var(--button-active);
			transform: none;
		}
	}

	.profile-image {
		@apply mb-2 rounded-full;
	}

	.cosmic-container {
		@apply container mx-auto py-7 sm:py-9 md:py-10 lg:py-12 xl:py-16 2xl:py-20;
	}
</style>
