---
import BaseLayout from "../layouts/BaseLayout.astro";
import "../styles/index.css";
---

<BaseLayout title="Jimit's Portfolio" header="Checkout my portfolio!">
	<div>
		<img width="180" src="/profile.png" alt="It's me!!">
		<h1>Jimit Dholakia</h1>
	</div>
</BaseLayout>

<style>
	img {
		margin: 0 auto;
	}
	h1 {
		font-weight: 900;
	}
</style>
