---
import BaseLayout from "../layouts/BaseLayout.astro";
import "../styles/index.css";
---

<BaseLayout>
	<button class="btn-default">hello there</button>
	<button class="btn-alt">hello there</button>
	<a>goto-definition</a>
</BaseLayout>
