---
const LINKS = [
	{ text: "About", link: "about" },
	{ text: "Blogs", link: "blogs" },
	{ text: "Projects", link: "projects" },
	{ text: "Contact", link: "contact" },
	{ text: "Hire Me", link: "hire" },
];
---

<nav>
	<img width="300" src="favicon.svg" />
	<div class="links-container">
		{LINKS.map(({ link, text }) => <a href={link}>{text}</a>)}
	</div>
</nav>

<style lang="scss">
	nav {
		padding: 1.25rem 2rem;
		display: flex;
		justify-content: space-between;
		align-items: center;
		& > img {
			width: 40px;
		}
	}

	a {
		text-decoration: none;
		transition: all 0.3s ease-in;
		&:hover {
			text-shadow: 0px 0px 4px white;
			transform: scale(1.1);
			font-weight: 500;
		}
	}
	.links-container {
		@apply grid grid-flow-col gap-3;
	}
</style>
