---
// a whole lot of nothing
---


<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=100%, initial-scale=1">
	<title>{Astro.props.title || "Jimit's portfolio"}</title>
</head>
<body>
	<header>{Astro.props.header || "Welcome"}</header>
	<slot>default content</slot>
</body>
</html>
